<section class="bg-light">
    <div class="container">
        <div class="row">      

<div class="col-md-12 col-lg-4 " style="visibility: visible;">
    <div class="post-thumbnail hover-secondery-primary mt-30 shadow rounded" style="cursor: pointer;">
        <div class="post-img overflow-hidden" style="height: 230px; width:100%">
            <a href="https://osoule.com/emaar-misrs-profits-rise-114-in-the-first-quarter-1">
                <img src="https://osoule.com/storage/640-2-2.jpg" alt="Emaar Misr's profits rise 114% in the first quarter" style="height: 230px;">
            </a>
             <!-- Add over card Div FOr Gradient -->
        <div class="over-card">
            <ul class="post-info list-style-1 d-flex color-secondary icon-primary color-secondary-a px-20 py-10 ">
                
                <li><a style="color:#fff !important;" href="#"><i class="fa fa-eye"></i> 12</a></li>
            </ul>
        </div>
        <!-- Add over card Div FOr Gradient -->
        </div>





        <div class="post-meta icon-primary color-secondary-a px-20 py-10 bg-gray">

        </div>

        <div class="post-content mt-20 color-secondary color-secondary-a bg-gray">
            <div class="post-date w-25 float-left bg-gray mr-20 text-center">
                <div class="py-10"><span class="d-block bg-primary">13</span>June</div>
                
            </div>
            <div class="text-area d-table news_content">
                <a class="post-title mb-15" href="https://osoule.com/emaar-misrs-profits-rise-114-in-the-first-quarter-1">
                    <!-- height:46px; -->
                    <h3 style="line-height:23px;height:48px;text-overflow:ellipsis;overflow:hidden">Emaar Misr's profits rise 114% in the first quarter
                    </h3>
                </a>
                <p style="line-height:23px;height:69px;text-overflow:ellipsis;overflow:hidden">The financial indicators of Emaar Misr for Development revealed that its profits increased by 113.73% in the first quarter of this year on an annual basis.</p>
                <a aria-label="readmore1" class="btn-more m-15" style="text-align: end" href="https://osoule.com/emaar-misrs-profits-rise-114-in-the-first-quarter-1">
                <!-- Read More -->
            </a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-lg-4 " style="visibility: visible; animation-name: slideInDown;">
    <div class="post-thumbnail hover-secondery-primary mt-30 shadow rounded" style="cursor: pointer;">
        <div class="post-img overflow-hidden" style="height: 230px; width:100%">
            <a href="https://osoule.com/housing-2544-housing-units-are-being-implemented-housing-all-egyptians-in-west-qena-new-city">
                <img src="https://osoule.com/storage/aed35e84-e778-4f3f-9cb7-aadae157252b.jpg" alt="Housing: 2544 housing units are being implemented, housing all Egyptians in West Qena New City" style="height: 230px;">
            </a>
             <!-- Add over card Div FOr Gradient -->
        <div class="over-card">
            <ul class="post-info list-style-1 d-flex color-secondary icon-primary color-secondary-a px-20 py-10 ">
                
                <li><a style="color:#fff !important;" href="#"><i class="fa fa-eye"></i> 12</a></li>
            </ul>
        </div>
        <!-- Add over card Div FOr Gradient -->
        </div>





        <div class="post-meta icon-primary color-secondary-a px-20 py-10 bg-gray">

        </div>

        <div class="post-content mt-20 color-secondary color-secondary-a bg-gray">
            <div class="post-date w-25 float-left bg-gray mr-20 text-center">
                <div class="py-10"><span class="d-block bg-primary">13</span>June</div>
                
            </div>
            <div class="text-area d-table news_content">
                <a class="post-title mb-15" href="https://osoule.com/housing-2544-housing-units-are-being-implemented-housing-all-egyptians-in-west-qena-new-city">
                    <!-- height:46px; -->
                    <h3 style="line-height:23px;height:48px;text-overflow:ellipsis;overflow:hidden">Housing: 2544 housing units are being implemented, housing all Egyptians in West Qena New City
                    </h3>
                </a>
                <p style="line-height:23px;height:69px;text-overflow:ellipsis;overflow:hidden">Assem Al-Jazzar, Minister of Housing, Utilities and Urban Communities, said that 2544 housing units (106 buildings) are being implemented in the presidential initiative "Housing for all Egyptians - low-income" in the city of West New Qena, and 720 housing units are also being implemented in the city, in the "Egypt's housing" project, with rates An advanced achievement.</p>
                <a aria-label="readmore1" class="btn-more m-15" style="text-align: end" href="https://osoule.com/housing-2544-housing-units-are-being-implemented-housing-all-egyptians-in-west-qena-new-city">
                <!-- Read More -->
            </a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-lg-4 " style="visibility: visible; animation-name: slideInDown;">
    <div class="post-thumbnail hover-secondery-primary mt-30 shadow rounded" style="cursor: pointer;">
        <div class="post-img overflow-hidden" style="height: 230px; width:100%">
            <a href="https://osoule.com/financial-market-experts-expectations-to-close-todays-session-will-continue-the-positive-performance-of-stock-indices">
                <img src="https://osoule.com/storage/640-3.jpg" alt="Financial market experts: Expectations to close today's session will continue the positive performance of stock indices" style="height: 230px;">
            </a>
             <!-- Add over card Div FOr Gradient -->
        <div class="over-card">
            <ul class="post-info list-style-1 d-flex color-secondary icon-primary color-secondary-a px-20 py-10 ">
                
                <li><a style="color:#fff !important;" href="#"><i class="fa fa-eye"></i> 8</a></li>
            </ul>
        </div>
        <!-- Add over card Div FOr Gradient -->
        </div>





        <div class="post-meta icon-primary color-secondary-a px-20 py-10 bg-gray">

        </div>

        <div class="post-content mt-20 color-secondary color-secondary-a bg-gray">
            <div class="post-date w-25 float-left bg-gray mr-20 text-center">
                <div class="py-10"><span class="d-block bg-primary">10</span>June</div>
                
            </div>
            <div class="text-area d-table news_content">
                <a class="post-title mb-15" href="https://osoule.com/financial-market-experts-expectations-to-close-todays-session-will-continue-the-positive-performance-of-stock-indices">
                    <!-- height:46px; -->
                    <h3 style="line-height:23px;height:48px;text-overflow:ellipsis;overflow:hidden">Financial market experts: Expectations to close today's session will continue the positive performance of stock indices
                    </h3>
                </a>
                <p style="line-height:23px;height:69px;text-overflow:ellipsis;overflow:hidden">The Egyptian Stock Exchange managed to close yesterday's session above the level of 10,000 points after it started its session without that; With the support of foreigners turning to buy for the first time in weeks.</p>
                <a aria-label="readmore1" class="btn-more m-15" style="text-align: end" href="https://osoule.com/financial-market-experts-expectations-to-close-todays-session-will-continue-the-positive-performance-of-stock-indices">
                <!-- Read More -->
            </a>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</section>