<footer class=" pb-50">
    <div class="container pt-30">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-2">

                <div class="footer-widget color-gray-light mt-sm-30">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Contact Us</h3>
                    <div class="widget-content color-primary">
                        <ul class="widget-contact">
                            <li>
                                <!-- Phone Number -->
                                <span class="color-secondary">
                                    <a href="tel:0224471498"><i class="fa fa-phone mr-5 color-primary"></i>0224471498</a></span>
                            </li>
                            <li>
                                <!-- Email -->
                                <span class="color-secondary">
                                    <a href="mailto:0224471498"><i class="fa fa-envelope mr-5 color-primary"></i>info@osoule.com</a></span>
                            </li>
                            <li>
                                <!-- Address -->
                                                                                                                    <span class="color-secondary">
                                            <a target="_blank" href="https://www.google.com/maps/search/?api=1&amp;query=29.97517074646037,%2031.31575445115675"><i class="fa fa-address-book mr-5 color-primary"></i>100061 El-Meraag, Zahraa Elmaadi, Cairo, Egypt</a>
                                        </span>
                                                                                                        </li>




                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2">
<div class="footer-widget color-gray-light mt-sm-30">
    <h3 class="color-secondary line-bottom pb-15 mb-20">About</h3>
    <div class="widget-content hover-secondery-primary">
       <ul>
        <li>
        <a href="https://osoule.com/about-us-1">
             <span>About Us</span>
        </a>
                </li>
        <li>
        <a href="https://osoule.com/contact">
             <span>Contact us</span>
        </a>
                </li>
        <li>
        <a href="https://osoule.com/careers">
             <span>Careers</span>
        </a>
                </li>
        <li>
        <a href="https://osoule.com/terms-and-condition">
             <span>Terms and Condition</span>
        </a>
                </li>
</ul>

    </div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-2">
<div class="footer-widget color-gray-light mt-sm-30">
    <h3 class="color-secondary line-bottom pb-15 mb-20">More information</h3>
    <div class="widget-content hover-secondery-primary">
       <ul>
        <li>
        <a href="https://osoule.com/investors">
             <span>Developers</span>
        </a>
                </li>
        <li>
        <a href="https://osoule.com/properties">
             <span>Properties</span>
        </a>
                </li>
        <li>
        <a href="https://osoule.com/properties?type=sale">
             <span>Properties for sale</span>
        </a>
                </li>
        <li>
        <a href="https://osoule.com/properties?type=rent">
             <span>Properties for rent</span>
        </a>
                </li>
</ul>

    </div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-4">
<div class="footer-widget color-gray-light mt-sm-30">
    <h3 class="color-secondary line-bottom pb-15 mb-20">News</h3>
    <div class="newsletter-form">
        <form action="#" id="mc-form" class="mc-form fix" novalidate="true">
            <input id="mc-email" type="email" name="EMAIL" placeholder="Enter Your E-mail ID">
            <button id="mc-submit" type="submit" class="default-btn" data-text="submit"><span>submit</span></button> 
        </form>
        <!-- mailchimp-alerts Start -->
        <div class="mailchimp-alerts">
            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
        </div>
        <!-- mailchimp-alerts end -->
    </div>
</div>
</div>

    </div>
    <!-- End Row -->
        </div>
<!-- End Container -->


</footer>
<div class="copyright bg-secondary color-white">
    <div class="container">
        <div class="row">
            <hr class="border-bottom-1 w-100 m-0">
            <div class="col-md-12 col-lg-12">
                <div class="py-15 text-center">
                    © Osoule.com
                </div>
            </div>
        </div>
    </div>
</div>